@{
    Layout = "./ChallengeLayout.cshtml";
}

@using CodeIt.Web.ViewModels.Challenge;

@model ChallengeViewModel

<h1>@Model.Title</h1>
<text>
    @Html.Raw(@Model.Description);
</text>
<div id="code-editor"></div>
<input type="hidden" id="challengeId" value="@Model.Id" />
<input type="button" id="btnSubmitCode" class="btn btn-info" value="Submit" />

@section Scripts {
    @Scripts.Render("~/bundles/ace-code-editor")
    @Scripts.Render("~/Scripts/Submission/submission.js")
}