@using Microsoft.AspNet.Identity
@using CodeIt.Web.Controllers;

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm(nameof(AccountController.SignOut), "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            @if (@User.IsInRole("Admin"))
            {
                <li>
                    <a href="/administration/" title="Administration">
                        <i class="glyphicon glyphicon-king"></i>
                        Administration
                    </a>
                </li>
                
            }
            <li>
                <a href="/Manage" title="Manage">
                    <i class="glyphicon glyphicon-user"></i>
                    @User.Identity.GetUserName()
                </a>
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Sign Out</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Sign In", nameof(AccountController.SignIn), "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        <li>@Html.ActionLink("Sign Up", nameof(AccountController.SignUp), "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    </ul>
}
