@model CodeIt.Web.Models.Account.SignUpViewModel

@using CodeIt.Web.Controllers

@{
    ViewBag.Title = "Sign Up";
}

@using (Html.BeginForm(nameof(AccountController.SignUp), "Account", FormMethod.Post, new { @class = "form-account", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h2 class="form-account-heading">Create a new account</h2>
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Username, new { @class = "sr-only" })
        @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Username", autofocus = "autofocus" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "sr-only" })
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "sr-only" })
        @Html.PasswordFor(m => m.Password, new { @class = "form-control real-password", placeholder = "Password" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "sr-only" })
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign Up" />
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
